@page
@model DeliveryApp.Pages.myPages.CreateRouteModel
@{
    ViewData["Title"] = "CreateRoute";
}

<h1>Create New Route</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="@Model.Route.RouteId" class="control-label">Route Number </label>
        <input asp-for="@Model.Route.RouteId" class="form-control" />
        <span asp-validation-for="@Model.Route.RouteId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Route.PostCodes" class="control-label">Post/Area code</label>
        <input asp-for="@Model.Route.PostCodes" class="form-control" />
        <span asp-validation-for="@Model.Route.PostCodes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
    @*<h3>Assign Employee</h3>
    <form method="post">
        <div class="form-group">
            <label for="emailaddress">Enter Employee ID</label><br>
            <input type="number" name="employeeId">
            <input type="submit" value="Get Employee">*@
            @*// <span validation-for="employeeId" class="text-danger"></span>*@
        <!--</div>
    </form>-->

    @*<div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeeId" class="control-label">Employee ID </label>
            <input asp-for="@Model.Rute.Employee.EmployeeId" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeeId" class="text-danger"></span>
        </div>*@
    @*<div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeeName" class="control-label">Employee Name </label>
            <input asp-for="@Model.Rute.Employee.EmployeeName" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeeEmail" class="control-label">Employee Email </label>
            <input asp-for="@Model.Rute.Employee.EmployeeEmail" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeeEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeeAddress" class="control-label">Employee Address </label>
            <input asp-for="@Model.Rute.Employee.EmployeeAddress" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeeAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeePhoneNumber" class="control-label">Employee Phone/Mobile </label>
            <input asp-for="@Model.Rute.Employee.EmployeePhoneNumber" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeePhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Rute.Employee.EmployeeType" class="control-label">Employee Designation </label>
            <input asp-for="@Model.Rute.Employee.EmployeeType" class="form-control" />
            <span asp-validation-for="@Model.Rute.Employee.EmployeeType" class="text-danger"></span>
        </div>*@


