@page
@model DeliveryApp.Pages.myPages.CreateOrderModel
@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create New Order</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="@Model.Order.OrderId" class="control-label">Order ID </label>
        <input asp-for="@Model.Order.OrderId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Order.ExpectedDeliveryDate" class="control-label">Expected Delivery Date </label>
        <input asp-for="@Model.Order.ExpectedDeliveryDate" class="form-control" />
    </div>
    <div class="form-group">
        <h2>Delivery Address</h2>
        <label asp-for="@Model.Order.Address.OrderAddressId" class="control-label">Order Address ID</label>
        <input asp-for="@Model.Order.Address.OrderAddressId" class="form-control" />
        <span asp-validation-for="@Model.Order.Address.OrderAddressId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Order.Vendor" class="control-label">Vendor Details</label>
        <input asp-for="@Model.Order.Vendor" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>